/* Estilos CSS para el header (Contacto) */

@media screen and (max-width: 768px) {
    
    header div p {
        font-size: 1rem;
    }

    header div img {
        padding-right: 20px;
    }


}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input, form button, form textarea, form select {
    padding: 1.5rem 1rem;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-family: Arial;
}

form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border: 1px solid #3D6CA1;
}

form button {
    border-radius: 10px;
    background: linear-gradient(to bottom, #94BAE7, #3D6CA1 100%);
    color: white;
    font-weight: bold;
}

form button:hover {
    background: #1e5f8a;
    cursor: pointer;
}

form button:active {
    background: #1a4c6e;
}

.alert-text-warning {
    background: #e49aa4;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    color: red;
    /* margin: 10px 0; */
}

.alert-text-success {
    background: #a0e49a;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
    color: green;
    /* margin: 10px 0; */
}

header {
    background: linear-gradient(to bottom, #94BAE7, #3D6CA1 100%);
    display: flex;
    min-height: 16vh;
    min-width: 100vw;
    padding: 0 12.5vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px black;
    overflow: hidden;
    text-overflow: ellipsis;
}

header img {
    max-width: 6rem;
}

header p {
    font-size: 1.5rem;
    color: #F5F5DC;
    font-weight: bold;
    text-shadow: 0 4px 10px black;
}

.form-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 60vw;
    margin: 6vh auto;
    padding: 0 5vw;
    overflow: hidden;
}

.form-contact h1 {
    font-size: 2.25rem;
}

.form-contact h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

form button {
    margin: 0 auto;
    width: 20vw;
    border: 1px solid #dadada;
    overflow: hidden;
    text-overflow: ellipsis;
}