/* Mejorar el diseño responsive */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.alert-text-warning {
    background: #e49aa4;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    color: red;
}

#modal {
    display: block;
    background: rgba(125, 125, 125, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#modal > div {
    color: #F5F5DC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 30%;
    background: linear-gradient(to bottom, #3C454D, #8BA0B3);
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.btnModal {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to bottom, #94BAE7, #3D6CA1 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1.5rem 1rem;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-family: Arial;
}

.btnModal:hover {
    background: #1e5f8a;
}

.btnModal:active {
    background: #1a4c6e;
}

section > h1 {
    text-align: center;
    font-size: 2.25rem;
}

section > h3 {
    text-align: center;
    margin-bottom: 50px;
}

#mercado {
    min-height: 100vh;
    width: 100%;
    background: #bcd5f5;
    padding-top: 50px;
    padding-bottom: 100px;
}

.tablaMercado {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    /* border-spacing: 0; */
    text-align: center;
    /* border: 1px solid black; */
}


.tablaMercado th, .tablaMercado td {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}

.tablaMercado th:first-of-type, .tablaMercado td:first-of-type {
    border-left: 1px solid black;
}

.tablaMercado th:last-of-type, .tablaMercado td:last-of-type {
    border-right: 1px solid black;
}

.tablaMercado th {
    background-color: #79a7e4;
    border-top: 1px solid black;
}

.tablaMercado td {
    background-color: #b8c3d1;
    font-size: 1.25rem;
}