* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

main {
    min-height: 68vh; /* Mirar bien esto */
    width: 75vw;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0); /* Arreglar esto que es un poco trampa */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input, form button {
    padding: 1.5rem 1rem;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-family: Arial;
}

form input:focus {
    outline: none;
    border: 1px solid #3D6CA1;
}

form button {
    border-radius: 10px;
    background: linear-gradient(to bottom, #94BAE7, #3D6CA1 100%);
    color: white;
    font-weight: bold;
}

form button:hover {
    background: #1e5f8a;
    cursor: pointer;
}

form button:active {
    background: #1a4c6e;
}

.alert-text-warning {
    background: #e49aa4;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    color: red;
}

.alert-text-success {
    background: #a0e49a;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
    color: green;
}